html, body {
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eef2f7;
}

.card {
    text-align: center;
}

h3, button > span {
    font-weight: bold;
}

a {
    font-weight: bold;
    text-decoration:  none;
}

p {
    font-size: medium;
    margin-top: 15px;
    margin-bottom: -5px;
}