<title>Dashboard</title>
<link rel="stylesheet" href="/css/dashboard/container-cards.css">

{{> dashboard}}

<div class="container-all">
    <div class="container-cards">
        <div class="card c-tickets">
            <div class="container-tickets">
                <div class="card-body">
                    Tickets de la Universidad UNE abiertos
                </div>
                <div class="card-body">
                    Tickets de la Universidad UNE
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body cards-b">
                <div class="card" style="width: 24rem;">
                    <div class="cont-img">
                        <img class="img-icons" src="images/icons/equipos.png" class="card-img-top" alt="...">
                    </div>

                    <div class="card-body">
                        <div>
                            <h3>Equipos</h3>
                        </div>

                        <div class="card-body">
                            <button type="button" class="btn btn-primary">Capturar</button>
                            <button type="button" class="btn btn-secondary">Consultar prestamos</button>
                        </div>
                    </div>
                </div>

                <div class="card" style="width: 24rem;">
                    <div class="cont-img">
                        <img class="img-icons" src="images//icons/tickets.png" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                        <div>
                            <h3>Tickets</h3>
                        </div>

                        <div class="card-body">
                            <button type="button" class="btn btn-primary">Capturar</button>
                            <button type="button" class="btn btn-secondary">Abiertos</button>
                        </div>
                    </div>
                </div>

                <div class="card" style="width: 24rem;">
                    <div class="cont-img">
                        <img class="img-icons" src="images/icons/areas.png" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                        <div>
                            <h3>Áreas</h3>
                        </div>

                        <div class="card-body">
                            <button type="button" class="btn btn-primary">Capturar</button>
                            <button type="button" class="btn btn-secondary">Consultar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>