<title>Sign Up</title>

<link rel="stylesheet" href="/css/user/register.css">

{{#each Errors}}
<div class="alert alert-danger alert-dismissible fade show" role="alert" id="alerta">
    <strong><i class="fa-solid fa-triangle-exclamation"></i>&ensp;{{text}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/each}}

<div class="card" id="tarjeta" style="width: 26rem;">
    <img src="/images/fondo_CT-UNE.webp" class="card-img-top" alt="...">
    <div class="card-body">
        <h3 class="card-title">Registrarse</h3>
        <hr>

        <form action="/user/register" method="POST">
            <div class="form-floating mb-3">
                <input name="name" type="text" class="form-control" id="floatingInput" placeholder="Nombre completo" value="{{name}}"
                    required>
                <label for="floatingInput">Nombre completo</label>
            </div>
            <div class="form-floating mb-3">
                <input name="email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com"
                    value="{{email}}" required>
                <label for="floatingInput">Correo electrónico</label>
            </div>
            <div class="input-group mb-3">
                <div class="form-floating">
                    <input name="password" type="password" class="form-control" id="floatingPassword"
                        placeholder="Password" required>
                    <label for="floatingPassword">Contraseña</label>
                </div>
                <button class="btn btn-outline-secondary" id="toggleButton" type="button"><span><i class="fa-solid fa-eye"></i></span></button>
            </div>
            <div class="input-group mb-3">
                <div class="form-floating">
                    <input name="confirm-password" type="password" class="form-control" id="floatingPassword"
                        placeholder="Password" required>
                    <label for="floatingPassword">Confirmar contraseña</label>
                </div>
                <button class="btn btn-outline-secondary" id="toggleButton" type="button"><span><i class="fa-solid fa-eye"></i></span></button>
            </div>

            <hr>
            <button type="submit" class="btn btn-primary btn-lg"><span>Registrar cuenta</span></button>
        </form>
        <p class="link-register">¿Ya tienes una cuenta? <a href="/">¡Iniciar sesión!</a></p>
    </div>
</div>

<script type="module" src="dom/register/register.js"></script>